<!-- <script>
  $('#datepicker').datepicker({
    format: 'mm/dd/yyyy'
  });
</script> -->
<div class="container mx-auto px-4 h-full">
  <div class="flex content-center items-center justify-center h-full">
    <div class="w-full lg:w-6/12 px-4">
      <div class="relative flex flex-col min-w-0 break-words w-full mb-6 shadow-lg rounded-lg bg-blueGray-200 border-0">
        <div class="flex-auto px-4 lg:px-10 py-10 pt-0">
          <div class="text-blueGray-400 text-center mb-3 font-bold">
            <small>Đăng ký</small>
          </div>
          <form>
            <div class="relative w-full mb-3">
              <label class="block uppercase text-blueGray-600 text-xs font-bold mb-2" htmlFor="username">
                Họ và tên đầy đủ *
              </label>
              <input type="name" id="username" #username
                class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150"
                placeholder="Họ và tên" />
            </div>
           
            <div class="flex">
              <div class="w-full mb-3">
                <label class="block uppercase text-blueGray-600 text-xs font-bold mb-2" htmlFor="tel">
                  Số điện thoại *
                </label>
                <input type="tel" id="telephone" maxlength="10" [placeholder]="0987654321" #telephone
                  class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150"
                  placeholder="Số điện thoại" />
              </div>
            </div>
            <div class="relative w-full mb-3">
              <label class="block uppercase text-blueGray-600 text-xs font-bold mb-2" htmlFor="password">
                Mật khẩu
              </label>
              <input type="password" id="password" #password [class.red_border]="password.value"
              [class.red_border_no_background]="password.value && !validatePassword(password.value)"
                class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150"
                placeholder="Password" />
            </div>
            <span *ngIf="password.value && !validatePassword(password.value)" class="error"> Mật khẩu tối thiểu tám ký tự, ít nhất một chữ cái, một số và một ký tự đặc biệt.</span>
            <div class="relative w-full mb-3">
              <label class="block uppercase text-blueGray-600 text-xs font-bold mb-2" htmlFor="re-password">
                Nhập lại Mật khẩu
              </label>
              <input type="password" id="re-password" #repassword
                class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150"
                placeholder="Password" />
            </div>
            <span *ngIf="!verifyPassword()" class="error"> Mật khẩu nhập lại không khớp</span>
            <div>
              <label class="inline-flex items-center cursor-pointer">
                <input id="customCheckLogin" type="checkbox"
                  class="form-checkbox border-0 text-blueGray-700 ml-1 w-5 h-5 ease-linear transition-all duration-150 rounded" />
                <span class="ml-2 text-sm font-semibold text-blueGray-600" (change)="checkCheckBoxvalue($event)">
                  Tôi đồng ý với
                  <a href="javascript:void(0)" class="text-red-600">
                    Điều khoản </a>
                </span>
              </label>
            </div>

            <div class="text-center mt-6">
              <button [disabled]="!isChecked || verifyPassword() || (password.value && !validatePassword(password.value))" (click)="signUp()"
                class="bg-blueGray-800 text-white active:bg-blueGray-600 text-sm font-bold uppercase px-6 py-3 rounded shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 w-full ease-linear transition-all duration-150"
                type="button">
                Tạo tài khoản
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>





 <!-- <div class="flex">
              <div class="w-1/3 mb-6 mr-6">
                <label class="block uppercase text-blueGray-600 text-xs font-bold mb-2" htmlFor="date">
                  Ngày sinh</label>
                <input type="date" id="date"
                  class="bg-white border border-gray-400 rounded-lg py-2 px-4 w-64 block appearance-none leading-normal mb-2"
                  placeholder="" />
               
              </div>
              &nbsp;&nbsp;&nbsp;&nbsp;
              <div class="w-1/2 mb-6 ml-6 justify-right">
                <label class="block uppercase text-blueGray-600 text-xs font-bold mb-2" htmlFor="">
                  CCCD hoặc CMT * </label>
                <input type="text"
                  class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150"
                  placeholder="CCCD/CMT" />
              </div>
            </div> -->