<app-index-navbar></app-index-navbar>
<section class="header relative pt-16 items-center flex h-screen max-h-860-px">
  <div class="container mx-auto items-center flex flex-wrap">
    <div class="w-full md:w-8/12 lg:w-6/12 xl:w-6/12 px-4">
      <div class="pt-32 sm:pt-0">
        <h2 class="font-semibold text-4xl text-blueGray-600">
          KL Banking - Ứng dụng tuyệt vời đối với các khoản vay.
        </h2>
        <p class="mt-4 text-lg leading-relaxed text-blueGray-500">
          KL Banking là một ứng dụng cho phép người dùng thực hiện các khoản vay theo các gói thời gian đi kèm với những thủ tục đơn giản, nhanh gọn. Đem lại cho người dùng những trải nghiệm tuyệt vời và ưu đãi nhất.
        </p>
        <div class="mt-12">
          <a href=""
            target="_blank"
            class="get-started text-white font-bold px-6 py-4 rounded outline-none focus:outline-none mr-1 mb-1 bg-red-600 active:bg-red-700 uppercase text-sm shadow hover:shadow-lg ease-linear transition-all duration-150">
            Giới thiệu
          </a>
          <a href="/takealoan"
            class="github-star ml-1 text-white font-bold px-6 py-4 rounded outline-none focus:outline-none mr-1 mb-1 bg-blueGray-700 active:bg-blueGray-600 uppercase text-sm shadow hover:shadow-lg ease-linear transition-all duration-150"
            target="_blank">
            Đăng ký khoản vay
          </a>
        </div>
      </div>
    </div>
  </div>

  <img class="absolute top-0 b-auto right-0 pt-16 sm:w-6/12 -mt-48 sm:mt-0 w-10/12 max-h-860-px"
    src="assets/img/pattern_angular.png" alt="..." />
</section>

<section class="mt-48 md:mt-40 pb-40 relative bg-blueGray-100">
  <div class="-mt-20 top-0 bottom-auto left-0 right-0 w-full absolute h-20" style="transform: translateZ(0)">
    <svg class="absolute bottom-0 overflow-hidden" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none"
      version="1.1" viewBox="0 0 2560 100" x="0" y="0">
      <polygon class="text-blueGray-100 fill-current" points="2560 0 2560 100 0 100"></polygon>
    </svg>
  </div>
  <div class="container mx-auto">
    <div class="flex flex-wrap items-center">
      <div class="w-10/12 md:w-6/12 lg:w-4/12 px-12 md:px-4 mr-auto ml-auto -mt-32">
        <div class="relative flex flex-col min-w-0 break-words bg-white w-full mb-6 shadow-lg rounded-lg bg-red-600">
          <img alt="..."
            src="https://images.unsplash.com/photo-1498050108023-c5249f4df085?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=700&q=80"
            class="w-full align-middle rounded-t-lg" />
          <blockquote class="relative p-8 mb-4">
            <svg preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 583 95"
              class="absolute left-0 w-full block h-95-px -top-94-px">
              <polygon points="-30,95 583,95 583,65" class="text-red-600 fill-current"></polygon>
            </svg>
            <h4 class="text-xl font-bold text-white">
              Ưu tiên trải nghiệm dịch vụ tuyệt vời
            </h4>
            <p class="text-md font-light mt-2 text-white">
              Dịch vụ đăng ký khoản vay của chúng tôi luôn tự hào rằng sẽ giúp khách hàng sử dụng một cách phù hợp và
              đơn giản so với nhu cầu của người dùng nhất.
            </p>
          </blockquote>
        </div>
      </div>

      <div class="w-full md:w-6/12 px-4">
        <div class="flex flex-wrap">
          <div class="w-full md:w-6/12 px-4">
            <div class="relative flex flex-col mt-4">
              <div class="px-4 py-5 flex-auto">
                <div
                  class="text-blueGray-500 p-3 text-center inline-flex items-center justify-center w-12 h-12 mb-5 shadow-lg rounded-full bg-white">
                  <i class="fas fa-tasks"></i>
                </div>
                <h6 class="text-xl mb-1 font-semibold">Các thủ tục nhanh chóng</h6>
                <p class="mb-4 text-blueGray-500">
                  Các thủ tục đăng ký từ tài khoản và khoản vay cá nhân đều giúp
                  khách hàng tối ưu thời gian.
                </p>
              </div>
            </div>
            <div class="relative flex flex-col min-w-0">
              <div class="px-4 py-5 flex-auto">
                <div
                  class="text-blueGray-500 p-3 text-center inline-flex items-center justify-center w-12 h-12 mb-5 shadow-lg rounded-full bg-white">
                  <i class="fas fa-edit"></i>
                </div>
                <h6 class="text-xl mb-1 font-semibold">
                  Thao tác đơn giản
                </h6>
                <p class="mb-4 text-blueGray-500">
                  Các thao tác sử dụng và thực hiện đăng ký cũng như thanh toán khoản vay đơn giản.
                </p>
              </div>
            </div>
          </div>
          <div class="w-full md:w-6/12 px-4">
            <div class="relative flex flex-col min-w-0 mt-4">
              <div class="px-4 py-5 flex-auto">
                <div
                  class="text-blueGray-500 p-3 text-center inline-flex items-center justify-center w-12 h-12 mb-5 shadow-lg rounded-full bg-white">
                  <i class="fas fa-credit-card"></i>
                </div>
                <h6 class="text-xl mb-1 font-semibold">Hạn mức hấp dẫn</h6>
                <p class="mb-4 text-blueGray-500">
                  Các hạn mức vay có thể lên đến 500 triệu VND.
                </p>
              </div>
            </div>
            <div class="relative flex flex-col min-w-0">
              <div class="px-4 py-5 flex-auto">
                <div
                  class="text-blueGray-500 p-3 text-center inline-flex items-center justify-center w-12 h-12 mb-5 shadow-lg rounded-full bg-white">
                  <i class="fas fa-dollar-sign"></i>
                </div>
                <h6 class="text-xl mb-1 font-semibold">Nhận tiền ngay</h6>
                <p class="mb-4 text-blueGray-500">
                  Nhận tiền chỉ sau nửa tiếng đồng hood sau khi làm hồ sơ và được duyệt.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container mx-auto overflow-hidden pb-20">
    <div class="flex flex-wrap items-center">
      <div class="w-full md:w-4/12 px-12 md:px-4 ml-auto mr-auto mt-48">
        <div class="container" style="display: flex;">
          <div
            class="text-blueGray-500 p-3 text-center inline-flex items-center justify-center w-16 h-16 mb-6 shadow-lg rounded-full bg-white">
            <i class="fas fas fa-credit-card text-xl"></i>
          </div>
          <div class="box">
            <h3 class="text-3xl font-semibold" style="padding:10px 0px 0px 10px ;">Hạn mức hấp dẫn</h3>
          </div>
        </div>
        <p class="text-lg font-light leading-relaxed mt-4 mb-4 text-blueGray-600">
          Ngoài việc hạn mức đạt lên tới 500tr VND thì chúng tôi còn cung cấp rất nhiều các loại gói hạn mức khác nhau
          đi kèm cùng 1 số ưu đãi và phí khác nhau.
        </p>
        <div class="block pb-6">
          <span
            class="text-xs font-semibold inline-block py-1 px-2 uppercase rounded-full text-blueGray-500 bg-white uppercase last:mr-0 mr-2 mt-2">
            1 triệu
          </span>
          <span
            class="text-xs font-semibold inline-block py-1 px-2 uppercase rounded-full text-blueGray-500 bg-white uppercase last:mr-0 mr-2 mt-2">
            5 triệu
          </span>
          <span
            class="text-xs font-semibold inline-block py-1 px-2 uppercase rounded-full text-blueGray-500 bg-white uppercase last:mr-0 mr-2 mt-2">
            10 triệu
          </span>
          <span
            class="text-xs font-semibold inline-block py-1 px-2 uppercase rounded-full text-blueGray-500 bg-white uppercase last:mr-0 mr-2 mt-2">
            100 triệu
          </span>
          <span
            class="text-xs font-semibold inline-block py-1 px-2 uppercase rounded-full text-blueGray-500 bg-white uppercase last:mr-0 mr-2 mt-2">
            200 triệu
          </span>
          <span
            class="text-xs font-semibold inline-block py-1 px-2 uppercase rounded-full text-blueGray-500 bg-white uppercase last:mr-0 mr-2 mt-2">
            500 triệu
          </span>
        </div>
        <a href="" target="_blank"
          class="font-bold text-blueGray-700 hover:text-blueGray-500 ease-linear transition-all duration-150">
          View All
          <i class="fa fa-angle-double-right ml-1 leading-relaxed"></i>
        </a>
      </div>

      <div class="w-full md:w-5/12 px-4 mr-auto ml-auto mt-32">
        <div class="relative flex flex-col min-w-0 w-full mb-6 mt-48 md:mt-0">
          <img alt="..." src="assets/img/component-btn.png"
            class="w-full align-middle rounded absolute shadow-lg max-w-100-px left-145-px -top-29-px z-3" />
          <img alt="..." src="assets/img/component-profile-card.png"
            class="w-full align-middle rounded-lg absolute shadow-lg max-w-210-px left-260-px -top-160-px" />
          <img alt="..." src="assets/img/component-info-card.png"
            class="w-full align-middle rounded-lg absolute shadow-lg max-w-180-px left-40-px -top-225-px z-2" />
          <img alt="..." src="assets/img/component-info-2.png"
            class="w-full align-middle rounded-lg absolute shadow-2xl max-w-200-px -left-50-px top-25-px" />
          <img alt="..." src="assets/img/component-menu.png"
            class="w-full align-middle rounded absolute shadow-lg max-w-580-px -left-20-px top-210-px" />
          <img alt="..." src="assets/img/component-btn-pink.png"
            class="w-full align-middle rounded absolute shadow-xl max-w-120-px left-195-px top-95-px" />
        </div>
      </div>
    </div>

    <div class="container mx-auto px-4 pb-32 pt-48">
      <div class="items-center flex flex-wrap">
        

        <div class="w-full md:w-6/12 mr-auto px-4 pt-24 md:pt-0">
          <img alt="..." class="max-w-full rounded-lg shadow-xl" style="
            transform: scale(1) perspective(1040px) rotateY(-11deg)
              rotateX(2deg) rotate(2deg);
          " src="assets/img/documentation.png" />
        </div>

        <div class="w-full md:w-5/12 ml-auto px-12 md:px-4">
          <div class="md:pr-12">
            <div class="container" style="display: flex;">
              <div
                class="text-blueGray-500 p-3 text-center inline-flex items-center justify-center w-16 h-16 mb-6 shadow-lg rounded-full bg-white">
                <i class="fas fas fa-tasks text-xl"></i>
              </div>
              <div class="box">
                <h3 class="text-3xl font-semibold" style="padding:10px 0px 0px 10px ;">Thủ tục đơn giản</h3>
              </div>
            </div>
            <p class="mt-4 text-lg leading-relaxed text-blueGray-500">
              Các thủ tục từ tạo tài khoản cho đến khoản vay đều đơn giản. Đặc biệt đối với khoản vay người dùng chỉ cần
              thực hiện các bước sau
            </p>
            <ul class="list-none mt-6">
              <li class="py-2">
                <div class="flex items-center">
                  <div>
                    <span
                      class="text-xs font-semibold inline-block py-1 px-2 uppercase rounded-full text-blueGray-500 bg-blueGray-50 mr-3">
                      <i class="fas fa-fingerprint"></i>
                    </span>
                  </div>
                  <div>
                    <h4 class="text-blueGray-500">
                      Chọn đăng ký khoản vay
                    </h4>
                  </div>
                </div>
              </li>
              <li class="py-2">
                <div class="flex items-center">
                  <div>
                    <span
                      class="text-xs font-semibold inline-block py-1 px-2 uppercase rounded-full text-blueGray-500 bg-blueGray-50 mr-3">
                      <i class="fab fa-html5"></i>
                    </span>
                  </div>
                  <div>
                    <h4 class="text-blueGray-500">
                      Nhập các thông tin cá nhân, các thông tin yêu cầu
                    </h4>
                  </div>
                </div>
              </li>
              <li class="py-2">
                <div class="flex items-center">
                  <div>
                    <span
                      class="text-xs font-semibold inline-block py-1 px-2 uppercase rounded-full text-blueGray-500 bg-blueGray-50 mr-3">
                      <i class="far fa-paper-plane"></i>
                    </span>
                  </div>
                  <div>
                    <h4 class="text-blueGray-500">
                      Xác nhận và duyệt chuyển khoản vay
                    </h4>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <app-footer></app-footer>